.game-canvas {
  border-top: 10px solid #28B463;
  border-left: 10px solid #28B463;
  border-right: 10px solid #28B463;
  margin: auto;
  display: block;
  position: absolute;
}

#game {
  -webkit-transition: opacity 1s linear;
}

#start-screen, #instructions-screen {
  background-color: white;
  position: absolute;
  z-index: 10;
  height: 422px;
  width: 422px;
  text-align: center;
  margin: auto;
  border: 1px solid black;
}

#end-game-win, #end-game-lose, #end-game-win-bob, #end-game-win-bub, #end-game-lose-bob, #end-game-lose-bub {
  background-color: white;
  position: absolute;
  z-index: 11;
  height: 422px;
  width: 422px;
  text-align: center;
  margin: auto;
  border: 1px solid black;
}

#end-game-lose {
  background-color: white;
  position: absolute;
  z-index: 11;
  height: 422px;
  width: 422px;
  text-align: center;
  margin: auto;
  border: 1px solid black;
}

.hidden {
  display: none;
}

#header {
  text-align: center;
}

.main {
  width: 425px;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  display: inline-block;
}

.logo {
  margin-top: 15px;
  height: 250px;
}

.small-logo {
  margin-top: 15px;
  height: 125px;
}

p {
  font-size: .75em;
  margin-left: 20px;
  margin-right: 20px;
  font-family: monospace;
}

li {
  font-size: 1.5em;
  font-family: monospace;
  list-style-type: none;
  margin-left: -85px;
}

h3, h5{
  font-family: monospace;
}

ul {
  display: inline-block;
  text-align: left;
}

.scores {
  display: inline-block;
  height: 422px;
  width: 300px;
  margin-top: 50px;
  vertical-align: top;
  text-align: center;
}

.page {
  width: 730px;
  margin: auto;
}

.button {
  border: 1px solid black;
  padding: 10px;
  width: 60%;
  margin: auto;
  margin-bottom: 7px;
  border-radius: 7px;
}

@media (max-width: 740px) {
  .scores {
    display: block;
    height: 422px;
    width: 400px;
    margin-top: 50px;
    vertical-align: top;
    margin: auto;
    margin-top: 55px;
    text-align: center;
  }

  .main {
    width: 425px;
    height: 400px;
    margin: 0 auto;
    margin-top: 50px;
    display: block;
  }

}
