.game-canvas {
  border-top: 10px solid #ff1d8e;
  border-left: 10px solid #ff1d8e;
  border-right: 10px solid #ff1d8e;
  margin-top: 45px;
  margin-left: 125px;
  display: block;
  position: absolute;
}



#game {
  -webkit-transition: opacity 1s linear;
}

#start-screen,
#instructions-screen {
  background-color: black;
  position: absolute;
  z-index: 10;
  height: 525px;
  width: 650px;
  text-align: center;
  margin: auto;
  border: 1px solid black;
}

#end-game-win,
#end-game-lose,
#end-game-win-bob,
#end-game-win-bub,
#end-game-lose-bob,
#end-game-lose-bub {
  background-color: black;
  position: absolute;
  z-index: 11;
  height: 475px;
  width: 650px;
  text-align: center;
  margin: auto;
  padding-top: 50px;
  border: 1px solid black;
}

#end-game-lose {
  background-color: black;
  position: absolute;
  z-index: 11;
  height: 475px;
  width: 650px;
  text-align: center;
  margin: auto;
  border: 1px solid black;
}

.hidden {
  display: none;
}

#header {
  text-align: center;
}

.main {
  width: 650px;
  height: 525px;
  margin: 0 auto;
  margin-top: 50px;
  display: inline-block;
  position: relative;
}

.logo {
  margin-top: 15px;
  margin-bottom: 30px;
  height: 250px;
}

.small-logo {
  margin-top: 15px;
  height: 125px;
}

p {
  font-size: .75em;
  margin-left: 20px;
  margin-right: 20px;
  font-family: monospace;
}

li {
  font-size: 1.5em;
  font-family: monospace;
  list-style-type: none;
  margin-left: -85px;
}

h3, h5{
  font-family: monospace;
}
h3.screen-text {
  color: white;
  font-size: 24px;
}

ul {
  display: inline-block;
  text-align: left;
}

.scores {
  display: inline-block;
  height: 525px;
  width: 120px;
  margin-top: 50px;
  margin-left: 25px;
  vertical-align: top;
  text-align: center;
}

.page {
  width: 1000px;
  margin: auto;
}

.button {
  background-color: white;
  border: 2px solid #FF1D8E;
  padding: 10px;
  width: 60%;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 7px;
}

.scoreboard {
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
  height: 525px;
}

p.screen-text{
  color: white;
  font-size: 14px;
}

h5.screen-text{
  color: white;
}
